.myclass {
    font-size: 20px;
    color: white;
	text-align: center;
}

.site-header h4 {
    background-color: grey;
    margin-top: 0;
    padding: 30px;
    border-style: solid;
    border-width: 1px;
    border-height: 1px;
    border-left: 1px;
    border-right: 1px;
}

.container {
	width: 80%;
	margin: 30px auto;
	overflow: hidden;
	position: relative;
}

.container ul li {
	list-style: none;
	float: left;
	font: 10px/1.5 verdana, Helvetica, Sans-serif;
	width: 8.5%;
	margin: 2% 2% 40px 2%;
}

.container ul li a {
	color: #5d5f5d;
}

.container ul li a img {
	max-width: 100%;
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) {

.container ul li {
	width: 96%;
}
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

.container ul li {
	width: 46%;
}
}

@media screen 
  and (min-device-width: 1080px) 
  and (max-device-width: 1920px) 
  and (-webkit-min-device-pixel-ratio: 3) {
.container {
	width: 29.3333333333%
}
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
.container {
	width: 29.3333333333%
}
}

.bottomclass {
    font-size: 20px;
}

.bottomletters {
    color: black;
}

.site-footer h5 {
    background-color: grey;
    padding: 30px;
    border-style: solid;
    border-width: 1px;
    border-height: 1px;
    border-left: 1px;
    border-right: 1px;
    margin-bottom: 0;
    text-align: center;
}